defaults:
  - dataset: swissprot_pfam_subset_1000
  - hydra: defaults
  - wandb: defaults
  - optimizer: adamw
  - deepspeed: defaults
  - _self_

seed: 42
epochs: 5
valid_size: 0.2
enter_eval: 200
resume_from_checkpoint: null
batch_size: 8
output_folder: null
model_option: transformer
diffusion_steps: 1024
warmup_steps: 100
image_size: 32
ema_inv_gamma: 1.0
ema_power: 0.75
ema_max_value: 0.95
task: proteins
max_steps: 150

device: cuda
precision: 32
gpu_devices: 2
num_nodes: 1
acc_grad_batches: 1

# For 2 GPU
val_check_interval: 50
limit_val_batches: 0.1

log_every_n_steps: 10
start_pfam_trainer: false
num_workers: 4

# Flow params
num_steps: 1
actnorm: False
perm_channel: none
perm_length: reverse

input_dp_rate: 0.0

# Transformer params
transformer_dim: 1024
transformer_heads: 16
transformer_depth: 32
transformer_blocks: 1
transformer_dropout: 0.1
transformer_reversible: False
transformer_local_heads: 8
transformer_local_size: 128

text_emb_dim: 512
facilitator: MMD

version_name: ${hydra:job.name}
output_hist_folder: ./logs/history/test_stage3
tb_logger_path: ./logs/history
tb_logger_folder: Stage3_history
save_hist_path: null

traindata_len: null
