name: base_transformer

# Flow params
num_steps: 1
actnorm: False
perm_channel: none
perm_length: reverse

input_dp_rate: 0.0

# Transformer params
transformer_dim: 512
transformer_heads: 16
transformer_depth: 16
transformer_blocks: 1
transformer_dropout: 0.1
transformer_reversible: False
transformer_local_heads: 8
transformer_local_size: 128

text_emb_dim: 512
facilitator: MMD
